body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #dcdcdc;
    background-image: url("/assets/images/background.png");
    background-attachment: scroll;
    background-repeat: no-repeat;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

a {
    color: #0047ab;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

.container {
    margin: 0;
    padding-left: 86px;
    padding-right: 86px;
}

.vspace {
    flex-grow: 1;
    min-height: 100px;
}

/* Toggle panels on each side of the screen, in the spaces 
   on the outside of the container */
.panel-toggle-area {
    position: fixed;
    top: 158.767px;
    bottom: 55px;
    width: 64px;
    cursor: pointer;
    z-index: 1;
    /* Ensure the toggle area is above other elements */
}

.panel-toggle-area:hover {
    background-color: #ffffff55;
}

#right-side {
    right: 0;
}

#left-side {
    left: 0;
}

/* Header. Has <img> icon on left, <a> text on right */
header {
    font-family: 'Franklin Gothic Medium', 'Arial Bold', Arial, sans-serif;
    font-size: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

header a {
    color: #000;
}

header a:hover {
    cursor: cell;
    color: white;
}

button {
    position: fixed;
    top: 110px;
    right: 20px;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 22px;
}

button:hover {
    background-color: #ffffff55;
}

img {
    padding: 4px;
    max-width: 74.333px;
    /* Adjust as needed */
    height: auto;
    border: 4px solid transparent;
    background-color: transparent;
    /* position: fixed; */
}

header img:hover {
    cursor: none;
    border: 4px solid white;
    background-color: white;
}

/* Container for article and nav bars */
.main-section {
    display: flex;
    justify-content: space-between;
}

/* Markdown content */
article {
    padding: 10px;
    flex: 8 200px;
    background-color: #eaeaea;
}

#article-date{
  font-size: 0.8em; /* Adjust the font size as needed */
  margin-top: 64px; /* Adjust the margin to position it correctly */
  margin-bottom: 0;
  float: right;
  text-decoration: overline;
  color: #0047ab69;
}

/* Left and Right Nav Bars */
nav {
    flex: 200px
}

nav.left {
    float: left;
    flex: 2;
}

nav.right {
    float: right;
    flex: 3;
    justify-content: flex-end;
}

nav ul {
    margin: 0;
    list-style-type: none;
    text-align: left;
    padding-left: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Bold', Arial, sans-serif
    
}

nav.right ul {
    text-align: right;
}

nav ul li {
    /* border-bottom: none; */
    /* position: relative; */
    position: relative;
}

nav ul li a {
    padding: 10px;
    font-size: 32px;
    text-decoration: none;
    color: #1b1b1b;
    font-weight: bold;
    display: inline-block;
    /* position: fixed; */
}

nav.right ul li a {
    font-size: 26px;
}

nav ul li a:hover {
    color: white;
    cursor: cell;
    text-decoration: none;
}

/* Container for author and date-modified */
footer {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-direction: row;
    position: absolute;
    min-height: min-content;
    bottom: 0;
    left: 0;
    margin-top: auto;
    background-color: aquamarine;
    /* padding: 32px 0; */
}

.author {
    margin: 5px;
    font-size: 10px;
    font-family: monospace;
    color: #1b1b1b;
    background-color: #dcdcdc;
    float: left;
}

.last-modified {
    margin: 2px 5px;
    padding-top: 10px;
    font-size: 10px;
    font-family: monospace;
    color: #1b1b1b;
    background-color: #dcdcdc;
    float: right;
}

/* Fixed, tiny image in the bottom right */
img.bottom-right-image {
    /* position: fixed; */
    /* bottom: 10px;
    right: 10px; */
    margin: 4px;
    max-width: 12px;
    border: 10px;
    float: right;
    right: 0;
}

img.bottom-right-image:hover {
    cursor: none;
    background-color: white;
}

/* Set display configurations for medium/phone (max: 767px/479px) screen sizes */
@media only screen and (max-width: 767px) {
    p {
        font-size: medium;
    }
    .container {
        padding-left: 70px;
        padding-right: 70px;
    }
    header {
        font-size: 20px;
    }

    #home-button {
        max-width: 48px;
        position: inherit;
    }

    .main-section {
        flex-direction: column;
    }
    
    nav ul li a {
        font-size: 26px;
        padding: 5px;
    }
}