body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #dcdcdc;
    background-image: url("/assets/images/background.png");
    background-attachment: scroll;
    background-repeat: no-repeat;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.container {
    margin: 0;
    padding-left: 86px;
    padding-right: 86px;
}

.vspace {
    flex-grow: 1;
}

/* Toggle panels on each side of the screen, in the spaces 
   on the outside of the container */
.panel-toggle-area {
    position: fixed;
    top: 145.6px;
    bottom: 55px;
    width: 75px;
    cursor: pointer;
    z-index: 1;
    /* Ensure the toggle area is above other elements */
}

.panel-toggle-area:hover {
    background-color: #ffffff55;
}

#right-side {
    right: 0;
}

#left-side {
    left: 0;
}

/* Header. Has <img> icon on left, <a> text on right */
header {
    font-family: 'Franklin Gothic Medium', 'Arial Bold', Arial, sans-serif;
    font-size: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

header a {
    text-decoration: black;
    color: #000;
}

header a:hover {
    cursor: cell;
    color: white;
}

button {
    position: fixed;
    top: 16px;
    right: 20px;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: large;
}

button:hover {
    background-color: #ffffff55;
}

img {
    padding: 4px;
    max-width: 100px;
    /* Adjust as needed */
    height: auto;
    border: 4px solid transparent;
    background-color: transparent;
}

img:hover {
    cursor: none;
    border: 4px solid white;
    background-color: white;
}

/* Container for article and nav bars */
.main-section {
    display: flex;
    justify-content: space-between;
}

/* Markdown content */
article {
    padding: 10px;
    flex: 8 200px;
    background-color: #eaeaea;
}

/* Left and Right Nav Bars */
nav {
    flex: 200px
}

nav.left {
    float: left;
    flex: 2;
}

nav.right {
    float: right;
    flex: 3;
    justify-content: right;
}

nav ul {
    list-style-type: none;
    text-align: left;
    padding-left: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Bold', Arial, sans-serif
}

nav.right ul {
    text-align: right;
}

nav ul li {
    padding: 10px;
    border-bottom: none;
}

nav ul li a {
    font-size: 32px;
    text-decoration: none;
    color: #1b1b1b;
    font-weight: bold;
    display: inline-block;
}

nav.right ul li a {
    font-size: 26px;
}

nav ul li a:hover {
    color: white;
    cursor: cell;
    text-decoration: none;
}

/* Container for <author> tag */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: auto;
    background-color: aquamarine;
    padding: 20px;
}

.author {
    margin: 5px;
    padding-top: 32px;
    padding-bottom: 0px;
    font-size: 11px;
    font-family: monospace;
    color: #1b1b1b;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
}

/* Fixed, tiny image in the bottom right */
img.bottom-right-image {
    position: fixed;
    max-width: 16px;
    bottom: 10px;
    right: 10px;
    border: 0px;
}

img.bottom-right-image:hover {
    cursor: none;
    border: 0px;
}

/* Set display configurations for mobile/small screen size */
@media only screen and (max-width: 700px) {
    header {
        font-size: 20px;
    }
    .main-section {
        flex-direction: column;
    }
    /*
    .right, .left {
        display: none;
    }
    */
}